{% extends "base.html" %}

{% block head_title %}CRank Home{% endblock %}

{% block content %}
{% if top_organization_list %}
    <div class="container">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Overall Score</th>
            </tr>
            {% for org in top_organization_list %}
                <tr>
                    <td>
                        <a href="{% url 'organization' org.id %}">{{ org.name }}</a>
                    </td>
                    <td>
                        {{ org.avg_score|floatformat:'2' }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No organizations are available.</p>
    </div>
{% endif %}
{% endblock %}