{% include "crank/header.html" %}

<div class="container">
    {% csrf_token %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <legend><h1>{{ organization.name }}</h1></legend>
    <div class="row">
        <div class="col-md-auto">
            <div class="container">
                <div class="row">
                    <div class="col-md-auto">Type:</div>
                    <div class="col-md-auto">{{ organization.get_type_display }}</div>
                </div>
                <div class="row">
                    <div class="col-md-auto">URL:</div>
                    <div class="col-md-auto"><a href="{{ organization.url }}">{{ organization.url }}</a></div>
                </div>
            </div>
        </div>
        <div class="col-md-auto">
            <table class="table">
                {% for score in organization.avg_scores.all %}
                    <tr>
                        <td>{{ score.type__name }}</td>
                        <td>{{ score.avg_score }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% include "crank/footer.html" %}
