{% load static %}
{% load socialaccount %}
<html data-bs-theme="dark">
<head>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <title>{% block head_title %}{% endblock %}</title>
    <link href="{% static 'images/favicon.png' %}" rel="shortcut icon" type="image/png">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-3 justify-content-center">
            <li><a href="/" class="navbar-brand"><i class="fa-solid fa-ranking-star"></i> CRank</a></li>
        </ul>

        <div class="text-end">
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <a class="btn btn-primary btn-sm" href="/admin">Admin</a>
                {% endif %}
                <a class="btn btn-secondary btn-sm" href="/logout">Logout {{user.username}}</a>
            {% else %}
                <a class="btn btn-light btn-sm" href="{% provider_login_url 'google' %}">
                    <i class="fab fa-google"></i>
                    Login with Google
                </a>
            {% endif %}
        </div>
    </nav>
</div>
<div>
    {% block content %} {% endblock %}
</div>
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "47ad721970f040feb8b977942546247c"}'></script><!-- End Cloudflare Web Analytics -->
</body>
</html>